* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #131326;
}

a {
  display: block;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  display: block;
}

button {
  font-size: 16px;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
  font-weight: 400;
  display: block;
  font-size: 18px;
  background: #383a49;
  border-radius: 5px;
  padding: 16px 20px;
  color: #fff;
  line-height: 1.5em;
  width: 380px;
}

.auth-card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button {
  color: #fff;
  border-radius: 5px;
  padding: 13px 35px;
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  width: 31px;
  height: 22px;
}

.input-name {
  display: inline-block;
  margin-bottom: 5px;
  color: #d0cfd9;
}

.button-primary {
  background: linear-gradient(89.91deg, #4b00ed 1.67%, #8814fa 97.32%);
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-primary:hover {
  opacity: 0.9;
}

.button-loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  -webkit-animation: button-loading-spinner 1s ease infinite;
          animation: button-loading-spinner 1s ease infinite;
}

@-webkit-keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container {
  width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

.rating-status {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
  padding: 3px 10px;
  letter-spacing: 0.02em;
}

.rating-status.organizer {
  background-color: #fa8c0b;
}

.rating-status.novice {
  background-color: #533ee1;
}

.rating-status.amateur {
  background-color: #4dc1ac;
}

.rating-status.expert {
  background-color: #e13eb3;
}

.rating-status.all {
  background-color: #383a49;
}

.auth-wrap {
  background: url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 100vh;
}

.auth-wrap::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(72.44deg, rgba(10, 10, 10, 0.85) 0%, rgba(38, 29, 56, 0.6375) 100%);
  z-index: 1;
}

.auth-card {
  background: #1f222f;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  padding: 35px 35px 45px;
  border-radius: 5px;
  z-index: 2;
}

.auth-form__fields-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 25px;
}

.auth-form__button-wrap {
  margin-top: 40px;
}

.title {
  padding: 40px 0 35px;
}

.registration-link {
  color: #6a6878;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  margin-left: 20px;
}

.registration-link:hover {
  color: #fff;
}

#header {
  background-color: #1f222f;
  padding: 16px 0;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 55px;
}

.header-list__item:last-child {
  margin-right: 0;
}

.header-list__link {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-list__link:hover, .header-list__link.active {
  opacity: 1;
}

.header-list__icon {
  margin-right: 10px;
}

.header-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */