* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #131326;
  color: rgba(255, 255, 255, 0.4);
  height: 100%;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  display: block;
}

button {
  font-size: 16px;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
}

input,
textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 16px 20px;
  background: #383a49;
  font-size: 18px;
  color: #fff;
  width: 100%;
}

input {
  font-weight: 400;
  display: block;
  line-height: 1.5em;
}

textarea {
  height: 150px;
  resize: none;
}

section {
  height: 100%;
}

th,
td {
  padding: 5px 25px;
}

.auth-card, .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button {
  color: #fff;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 50px;
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  width: 31px;
  height: 22px;
}

.input-name {
  display: inline-block;
  margin-bottom: 5px;
  color: #d0cfd9;
}

.button-primary {
  background: linear-gradient(89.91deg, #4b00ed 1.67%, #8814fa 97.32%);
  position: relative;
}

.button-primary:hover {
  opacity: 0.9;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
  height: 100%;
}

.rating-status {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
  padding: 3px 10px;
  letter-spacing: 0.02em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rating-status.organizer {
  background-color: #fa8c0b;
}

.rating-status.novice {
  background-color: #533ee1;
}

.rating-status.amateur {
  background-color: #4dc1ac;
}

.rating-status.expert {
  background-color: #e13eb3;
}

.rating-status.all {
  background-color: #383a49;
}

.app {
  padding: 40px 0;
  height: calc(100% - 82px);
}

.divider {
  border-bottom: 1px solid;
}

.outlined {
  border: 1px solid rgba(255, 255, 255, 0.4);
  opacity: 0.4;
  background: transparent;
}

.outlined:hover {
  opacity: 1;
}

.delete-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f64747;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.delete-button:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.delete-button img {
  margin-right: 8px;
}

.online {
  color: #35b806;
}

.auth-wrap {
  background: url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 100vh;
}

.auth-wrap::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(72.44deg, rgba(10, 10, 10, 0.85) 0%, rgba(38, 29, 56, 0.6375) 100%);
  z-index: 1;
}

.auth-card {
  background: #1f222f;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  padding: 35px 35px 45px;
  border-radius: 5px;
  z-index: 2;
}

.auth-form__fields-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 25px;
}

.auth-form__button-wrap {
  margin-top: 40px;
}

.auth-form__input {
  width: 380px;
}

.title {
  padding: 40px 0 35px;
}

.registration-link {
  color: #6a6878;
  display: inline-block;
  margin-left: 20px;
}

.registration-link:hover {
  color: #fff;
}

#header {
  background-color: #1f222f;
  padding: 16px 0;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 55px;
}

.header-list__item:last-child {
  margin-right: 0;
}

.header-list__link {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
}

.header-list__link:hover, .header-list__link.active {
  opacity: 1;
}

.header-list__icon {
  margin-right: 10px;
}

.header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: auto;
}

.header-profile > img,
.header-profile button {
  margin-left: 30px;
}

.matches__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 33px;
}

.match {
  background: #1f222f;
  border-radius: 5px;
  padding: 25px;
  font-size: 14px;
}

.match__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}

.match__logo-wrap {
  width: 74px;
  margin-right: 20px;
}

.match__logo-wrap img {
  max-width: 100%;
}

.match__title {
  margin: 4px 0 10px;
}

.match__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.match__map span {
  color: #fff;
  font-weight: 500;
  margin-left: 8px;
}

.match__description {
  margin-top: 20px;
  height: 55px;
}

.match__footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.match__details-arrow {
  opacity: 0.4;
  width: 29px;
  height: 29px;
}

.match__details-arrow:hover {
  opacity: 1;
}

.single-match {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 550px 1fr;
      grid-template-columns: 550px 1fr;
  grid-gap: 50px;
}

.match-sidebar {
  background: #1f222f;
  border-radius: 5px;
  padding: 30px 50px;
  font-size: 14px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.match-sidebar__data {
  padding-bottom: 30px;
}

.match-sidebar__logo-wrap {
  width: 140px;
  margin-bottom: 35px;
}

.match-sidebar__logo-wrap img {
  max-width: 100%;
}

.match-sidebar__title {
  margin-bottom: 20px;
}

.match-sidebar__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 20px 100px;
}

.match-sidebar__details span {
  color: #fff;
  margin-top: 5px;
}

.match-sidebar__description {
  margin-top: 40px;
}

.match-sidebar__description-title {
  margin-bottom: 10px;
}

.match-sidebar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.match-sidebar__delete-button {
  margin-left: 30px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  background: #1f222f;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px;
  width: 870px;
}

.modal__title {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  line-height: 1.5em;
  margin-bottom: 35px;
}

.modal__match-form, .modal__user-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 25px 40px;
}

.modal__match-form .description, .modal__user-form .description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 35px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.modal__buttons .close {
  margin-right: 15px;
}

.modal__cross {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 28px;
  cursor: pointer;
  top: 0;
  right: 0;
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px);
}

.modal__cross:hover, .modal__cross:focus {
  color: #fff;
}

.users {
  font-weight: 500;
  max-width: 100%;
}

.users__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.users__table-head th {
  font-weight: 500;
  text-align: start;
}

.users__table-row {
  background: #1f222f;
}

.users__table-row td:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.users__table-row td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.users__nickname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users__avatar {
  margin-right: 20px;
}

.users__avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */