#header {
  background-color: $background-color;
  padding: 16px 0;
}
.header {
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  &-list {
    width: fit-content;
    display: flex;
    align-items: center;
    &__item {
      width: max-content;
      margin-right: 55px;

      &:last-child() {
        margin-right: 0;
      }
    }
    &__link {
      font-size: 18px;
      display: flex;
      align-items: center;
      opacity: 0.4;

      &:hover,
      &.active {
        opacity: 1;
      }
    }
    &__icon {
      margin-right: 10px;
    }
  }
  &-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    width: min-content;
    margin-left: auto;
  }
}
