$primary-color: linear-gradient(89.91deg, #4b00ed 1.67%, #8814fa 97.32%);
$red-gradient: linear-gradient(90.4deg, #f64747 0.36%, #f42657 96.35%);
$input-color: #383a49;
$red-color: #f64747;
$background-color: #1f222f;
$body-background: #131326;
$dark-layer: linear-gradient(72.44deg, rgba(10, 10, 10, 0.85) 0%, rgba(38, 29, 56, 0.6375) 100%);
$white: #fff;
$font-color: rgba(255, 255, 255, 0.4);
$label-color: #d0cfd9;
$light-gray: #9896a4;
$dark-gray: #6a6878;
$organizer-status: #fa8c0b;
$novice-status: #533ee1;
$amateur-status: #4dc1ac;
$expert-status: #e13eb3;
$match-border: rgba(255, 255, 255, 0.2);
