@import "styles/variables";

.rating-status {
  font-size: 12px;
  color: $white;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
  padding: 3px 10px;
  letter-spacing: 0.02em;
  width: fit-content;
  
  &_organizer {
    background-color: $organizer-status;
  }
  &_novice {
    background-color: $novice-status;
  }
  &_amateur {
    background-color: $amateur-status;
  }
  &_expert {
    background-color: $expert-status;
  }
  &_all {
    background-color: $input-color;
  }
}