@import 'styles/variables';
@import 'styles/extend';

.button {
  @extend %buttons-styles-shared;

  &_primary {
    background: $primary-color;
    position: relative;

    &:hover {
      opacity: 0.9;
    }
  }

  &_offset_left {
    margin-right: 15px;
  }

  &_outlined {
    border: 1px solid $font-color;
    opacity: 0.4;
    background: transparent;
    &:hover {
      opacity: 1;
    }
  }
}
